<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Default Suite" verbose="1" parallel="tests" thread-count="2">
    <test name="Division Calculator Test">
        <groups>
            <run>
                <exclude name="first"/>
            </run>
        </groups>
        <classes>
            <class name="testng.DivisionCalculatorTest"/>
        </classes>
    </test>
    <test name="Multiplication Calculator Test">
        <groups>
            <run>
                <exclude name="first"/>
            </run>
        </groups>
        <classes>
            <class name="testng.MultiplicationCalculatorTest"/>
        </classes>
    </test>
</suite>